# Compiled Object files
*.slo
*.lo
*.o
*.0

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake output
*.cmake
*.build
*.xcodeproj
CMakeFiles
CMakeCache.txt
CMakeScripts
Makefile
install_manifest.txt

# build files
build/
Testing/
demo/cql_demo
test/unit_tests/cql_test

# external deps
ext/bin
ext/lib
ext/src
ext/share
ext/include
ext/ssl
ext/tmp
ext/libcds_osx_srcs
ext/__MACOSX

# editor
*.swp
*~
.#*
#*

# OSX
.DS_Store

# Eclipse
.cproject
.project

# AStyle backup
*.orig

/extra/ccm_bridge/nbproject/private/
/nbproject/private/
