# Compiled Object files
*.slo
*.lo
*.o
*.0

# Compiled Dynamic libraries
libcassandra.so*
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake output
*.cmake
!Find*.cmake
*.build
*.xcodeproj
CMakeFiles
CMakeCache.txt
CMakeScripts
Makefile
install_manifest.txt

# build files
build
Testing
Debug
demo/cassandra_demo
test/unit_tests/cassandra_test

# API docs files
docs
Doxyfile

# editor
*.swp
*~
.#*
#*
.clang_complete

# OSX
.DS_Store

# Eclipse
.cproject
.project

# AStyle backup
*.orig

# QT Creator 
*.config
*.creator
*.creator.user
*.files
*.includes

# MSVC
*.vcxproj
*.vcxproj.filters
*.sdf
*.sln
*.suo
*.opensdf

# Travis Build Dependencies
libuv-v*
lib/libuv/include/**
!lib/libuv/include/README
lib/libuv/lib/**
!lib/libuv/lib/README
boost_1_*


config*.txt
