[submodule "cpp-driver"]
	path = cpp-driver
	url = https://github.com/datastax/cpp-driver.git
[submodule "tests/src/integration/scassandra/server"]
	path = tests/src/integration/scassandra/server
	url = https://github.com/tolbertam/scassandra-server.git
