language: c++
compiler: gcc
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libssl-dev libssh2-1-dev -qq
  - wget -q http://libuv.org/dist/v0.10.28/libuv-v0.10.28.tar.gz
  - wget -q http://sourceforge.net/projects/boost/files/boost/1.55.0/boost_1_55_0.tar.gz/download -O boost_1_55_0.tar.gz
install:
  - tar xzf libuv-v0.10.28.tar.gz 
  - cd libuv-v0.10.28 && make -s && cd - 2&> /dev/null && cp -r libuv-v0.10.28/libuv.a libuv-v0.10.28/libuv.so lib/libuv/lib && cd lib/libuv/lib && ln -sf libuv.so libuv.so.0.10 && cd - 2&> /dev/null && cp -r libuv-v0.10.28/include/* lib/libuv/include
  - tar xzf boost_1_55_0.tar.gz
  - cd boost_1_55_0 && ./bootstrap.sh --with-libraries=atomic,chrono,date_time,log,program_options,random,system,thread,test && sudo ./b2 install -d0 && cd - 2&> /dev/null
before_script: cmake -DLIBUV_ROOT_DIR=lib/libuv/ -DCASS_BUILD_TESTS=ON .
script:
  - make
  - test/unit_tests/cassandra_unit_tests
