.highlight {
  .hll {
    background-color: #ffffcc; }
  background: #eee8d5;
  color: #586e75;
  .c {
    color: #93a1a1;
    font-style: italic; }
  .g {
    color: #d33682; }
  .k {
    color: #859900; }
  .l {
    color: #2aa198; }
  .n {
    color: #268bd2; }
  .cm, .cp, .c1, .cs {
    color: #93a1a1;
    font-style: italic; }
  .gd, .ge, .gr, .gh, .gi, .go, .gp, .gs, .gu, .gt {
    color: #d33682; }
  .kc {
    color: #859900;
    font-weight: bold; }
  .kd {
    color: #859900; }
  .kn {
    color: #dc322f;
    font-weight: bold; }
  .kp, .kr {
    color: #859900; }
  .kt {
    color: #859900;
    font-weight: bold; }
  .ld {
    color: #2aa198; }
  .m {
    color: #2aa198;
    font-weight: bold; }
  .s {
    color: #2aa198; }
  .na {
    color: #268bd2; }
  .nb, .nc {
    color: #cb4b16; }
  .no, .nd, .ni, .ne, .nf, .nl, .nn, .nx, .py {
    color: #268bd2; }
  .nt {
    color: #268bd2;
    font-weight: bold; }
  .nv {
    color: #268bd2; }
  .ow {
    color: #859900; }
  .w {
    color: #586e75; }
  .mf, .mh, .mi, .mo {
    color: #2aa198;
    font-weight: bold; }
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
    color: #2aa198; }
  .bp {
    color: #cb4b16; }
  .vc, .vg, .vi {
    color: #268bd2; }
  .il {
    color: #2aa198;
    font-weight: bold; } }

/* Comment */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */