Source: cassandra
Section: devel
Priority: extra
Maintainer: A. Anonymous <a.anonymous@no.net>
Build-Depends: debhelper (>= 5), cmake, make,
	libssl-dev,
	libboost-dev,
	libboost-system-dev,
	libboost-date-time-dev
Standards-Version: 3.7.2

Package: cassandra0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cassandra
 Cassandra

Package: cassandra0-dev
Architecture: any
Depends: cassandra0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Dev files for cassandra
 Dev files for cassandra
