$icon-font-path: "/fonts/";
$font-size-base: 16px;
$line-height-base: 1.5;

@import "bootstrap";

.label {
  padding: .2em .6em .2em;
}

.steps {
  font-size: 16px;
  dt {
    float: left;
    clear: left;
    padding-right: 6px;
    width: 70px;
    text-align: right;
  }

  dd {
    display: block;
  }
}

.side-nav {
  .nav>li>a {
      padding: 4px 20px;
      font-size: 16px;
      font-weight: 400;
  }
  .nav>li>a {
      border-radius: 0;
      /*add trasnparent border */
      border-left: 2px solid transparent;
  }

  .nav .nav>li>a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 30px;
      font-size: 14px;
  }

  .nav .nav .nav>li>a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 35px;
      font-size: 12px;
  }

  /* active & hover links */
  .nav>.active>a, 
  .nav>li>a:hover, 
  .nav>li>a:focus {
      color: #428bca;
      text-decoration: none;
      background-color: transparent;
      border-left: 2px solid #428bca;
  }

  /* all active links */
  .nav>.active>a, 
  .nav>.active:hover>a,
  .nav>.active:focus>a {
      font-weight: 700;
  }

  /* nested active links */
  .nav .nav>.active>a, 
  .nav .nav>.active:hover>a,
  .nav .nav>.active:focus>a {
      font-weight: 500;
  }

  .affix-bottom,
  .affix {
    @media (min-width: 1200px) {
      width: 258px;
      top: 10px;
    }
  }

  .affix-top,
  .affix-bottom {
    position: relative;
  }
}

.inline,
.inline p:first-child {
  display: inline;
}

.panel-body {
  .table {
    .name {
      width: 160px;
    }
    .type {
      width: 200px;
    }
  }
}

dl.notes {
  margin-bottom: 10px;

  dt {
    width: 65px;
  }

  dd {
    margin-left: 70px;
  }
}

dl.enumerations {
  dt {
    font-weight: normal;
  }
}

footer {
  font-size: 12px;
  text-align: center;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  overflow-wrap: normal;
  white-space: pre;
}

.member-definition {
  .anchor {
    color: #000000;
    display: inline-block;
    visibility: hidden;
    float: left;
    margin-left: -45px;
    padding-right: 15px;
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}

h1, .h1 {
  .anchor {
    margin-left: floor(($font-size-h1 * -1.2));
    padding-right: ceil(($font-size-h1 * 0.2));
  }
}
h2, .h2 {
  .anchor {
    margin-left: floor(($font-size-h2 * -1.2));
    padding-right: ceil(($font-size-h2 * 0.2));
  }
}
h3, .h3 {
  .anchor {
    margin-left: floor(($font-size-h3 * -1.2));
    padding-right: ceil(($font-size-h3 * 0.2));
  }
}
h4, .h4 {
  .anchor {
    margin-left: floor(($font-size-h4 * -1.2));
    padding-right: ceil(($font-size-h4 * 0.2));
  }
}
h5, .h5 {
  .anchor {
    margin-left: floor(($font-size-h5 * -1.2));
    padding-right: ceil(($font-size-h5 * 0.2));
  }
}
h6, .h6 {
  .anchor {
    margin-left: floor(($font-size-h6 * -1.2));
    padding-right: ceil(($font-size-h6 * 0.2));
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  .anchor {
    float: left;
    color: #000000;
    display: inline-block;
    visibility: hidden;
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}

/*
 * ZeroClipboard styles
 */

.zero-clipboard {
  position: relative;
  display: none;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #002b36;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 0 4px 0 4px;
}
.btn-clipboard-hover {
  color: #fdf6e3;
  background-color: #428bca;
  border-color: #428bca;
}

@media (min-width: 768px) {
  .zero-clipboard {
    display: block;
  }
  .bs-example + .zero-clipboard .btn-clipboard {
    top: -16px;
    border-top-right-radius: 0;
  }
}