<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C++ Driver for Apache Cassandra - <%=h @item[:title] %></title>

    <link rel="icon" href="/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/favicons/favicon.png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cassandra C/C++ Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            <li<% if @item == @items.at('/') %> class="active"<% end %>><a href="/">Introduction</a></li>
            <li<% if @item == @items.at('/topics/') || child_of?(@item, @items.at('/topics/')) %> class="active"<% end %>><a href="/topics/">Topics</a></li>
            <li<% if @item == @items.at('/api/') || child_of?(@item, @items.at('/api/')) %> class="active"<% end %>><a href="/api/">API docs</a></li>
          </ul>
          <form class="navbar-form form-search navbar-right dropdown visible-lg-block" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search()" data-toggle="dropdown" data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              <button type="button" class="close form-control-feedback input-sm hidden" ng-click="reset()" ng-class="{hidden: !hasResults}"><span aria-hidden="true">&times;</span><span class="sr-only">Reset</span></button>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              <% breadcrumbs_trail.each do |item| %>
              <% if item %>
              <% if item == @item %>
              <li class="active"><%= @item[:title] %></li>
              <% else %>
              <li><a href="<%= item.path %>"><%= item[:title] %></a></li>
              <% end %>
              <% end %>
              <% end %>
            </ol>
          </nav>
          <%= yield %>
        </div>
        <nav class="col-md-3 side-nav">
          <ol class="nav nav-pills nav-stacked toc" data-spy="affix" data-offset-top="60" data-offset-bottom="25">
            <% if @item == @items.at('/') %>
              {{TOC}}
            <% elsif @items.at('/topics/') && (@item == @items.at('/topics/') || child_of?(@item, @items.at('/topics/'))) %>
              <% @items.at('/topics/')[:nav].each do |section| %>
                <% if @item == section || @item.parent == section %>
                  <li class="active">
                    <a href="<%= section.path %>"><%= section[:title] %></a>
                    <ul class="nav nav-pills nav-stacked">
                      <% section[:nav].each do |child| %>
                      <% if @item == child %>
                      <li class="active">
                        <a href="<%= child.path %>"><%= child[:title] %></a>
                        <ul class="nav nav-pills nav-stacked">{{TOC}}</ul>
                      </li>
                      <% else %>
                      <li><a href="<%= child.path %>"><%= child[:title] %></a></li>
                      <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li><a href="<%= section.path %>"><%= section[:title] %></a></li>
                <% end %>
              <% end %>
            <% elsif @items.at('/api/') && (@item == @items.at('/api/') || child_of?(@item, @items.at('/api/'))) %>
            <% @items.at('/api/')[:doxygen].each_object(:file, :class, :struct, :union, :interface) do |obj| %>
            <li<% if child_of?(@item, @items.at('/api/')) && @item[:doxygen].id == obj.id %> class="active"<% end %>>
              <a href="/api/<%= obj.id %>"><%= obj.name %></a>
            </li>
            <% end %>
            <% end %>
          </ol>
        </nav>
      </div>
    </div>

    <footer class="container text-muted">
      <ul class="list-inline">
        <li>
          <a href="https://github.com/datastax/cpp-driver">Code</a>
        </li>
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/cpp-driver/">Docs</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/CPP">Issues</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/cpp-driver-user">Mailing List</a>
        </li>
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/cpp-driver/releases">Releases</a>
        </li>
      </ul>
    </footer>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/mousetrap.js"></script>
    <script src="/js/hotkeys.js"></script>
    <script src="/js/ZeroClipboard.js"></script>
    <script src="/js/lunr.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
